//MAIN THEM
$color-black: #000000;
$color-gray-dark: #444;
$color-gray: #777;
$color-gray-light: #B5B5B5;
$color-gray-lightest: #FAFAFA;
$color-main-bg: #FFFFFF;
$color-primary-active: #003a6e;

$color-light-lightest: #fff;
$color-light-light: #ddd;

//TEXT
$color-text: $color-gray;
$color-text-light: $color-gray-light;
$color-text-lightest: $color-light-lightest;
$color-text-dark: $color-gray-dark;

//SHADOW
$color-inset-shadow: $color-gray-light;
$color-inset-shadow-focus: $color-black;
